{% extends 'nav_bar_t.html' %}

{% block header %}

  <title>Home</title>
  <!--<script src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>-->
  <link rel="stylesheet" href="{{ url_for( 'static', filename='index.css') }}">

  <script>          
  </script>
  
{% endblock %}

{% block content %}
    
  {% include 'index_page.html' %}
  
    
  <!--REMOVE DEBUG-->
  <table id='debug-recipe-search-table'>
    <tbody>
    <td>S1</td>
    <td>S2</td>
    <td>S3</td>   
    </tbody>
  </table>
  <!--REMOVE DEBUG-->
  
{% endblock %}